<div class="book-detail-wrapper">

  <!-- Book Image -->
  <div class="col-md-3 col-sm-12 book-image-wrapper">
    <img class="book-detail-image" src="images/books/book1.jpg">
    <p>ISBN: <b>{{book.isbn}}</b></p>
  </div>
  <!-- Book Details -->
  <div class="col-md-9 col-sm-12">
    <div class="book-detail-content">
      <h2>{{book.title}} <small>({{book.cover_type}})</small></h2>
        <p><span>Author: <b>{{book.author}}</b></span></p>
      <h3>Book Details</h3>
      <hr class="book-detail-divider">
      <p class=""><span>Sold by: <a ng-href="#/profile-view/{{book.seller}}">{{seller_username}}</a></span></p>
      <p class=""><span>Pages: <b>{{book.num_pages}}</b></span></p>
      <p class=""><span>Edition number: <b>{{book.edition}}</b></span></p>
      <p class=""><span>Genre: <b>{{book.edition}}</b></span></p>
      <p class=""><span>Condition: <b>{{book.condition}}</b></span> </p>
      <br>
      <button ng-class="{disabled: alreadyAdded}" ng-if="user.status && !isUsersBook" type="button" class="btn btn-lg btn-primary btn-lg btn-block" ng-click="addBookToCart()">Add to Cart</button>  
    </div>
  </div>
</div>
