<style>

.contact-wrapper{
  background: #eaeaea;
    height: 300px;
    border-radius: 6px;
    display: table;
    width: 100%;
    margin: 30px;
}
.contact-content{
  display: table-cell;
  vertical-align: middle;
  padding: 10%;
}

</style>


<div class="contact-wrapper">
  <div class="contact-content">
    <h1> Contact the Admin </h1>

    <form name = "ContactAdminForm" novalidate="">
      Type of message
      <select name="ContactAdmin" style="margin-left: 27px;" ng-model="message.type" required>
        <option value="" disabled selected>Type of Message</option>
        <option value="Unban">Request to Unban</option>
        <option value="Report">Report a User</option>
      </select>
      <br>
      <br>
        Subject <input style="margin-left: 57px;" type="text" ng-model="message.subject" required>
        <br>
        <br>
        <div class="form-group">
  <label for="comment">Message:</label>
  <textarea class="form-control" rows="5" id="comment" ng-model="message.message" required></textarea>
</div>
        <button type="submit" class="btn btn-primary" ng-disabled="ContactAdminForm.$invalid" ng-click="contactAdminFn()">Send Message</button>
    </form>
</div>

</div>
