<!-- WORK ON STYLES HERE -->
<style>

.forgot-password-wrapper{
  background: #eaeaea;
  border-radius: 6px;
  min-height: 300px;
  margin-bottom: 30px;
  padding: 10%;
}
input{
  display: block;
}
</style>

<div class="forgot-password-wrapper">
<form>
  <h2>Reset the Password to your account</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" ng-model="email" placeholder="Email">
  </div>

  <br>
  <a href="#/" class="btn btn-primary" id="btn" ng-click="sendReq()">Reset Password</a>
</form>
</div>

