<!-- WORK ON STYLES HERE -->
<style>

.forgot-password-wrapper{
  background: #eaeaea;
  border-radius: 6px;
  min-height: 300px;
  margin-bottom: 30px;
  padding: 10%;
}
input{
  display: block;
}
</style>

<div class="forgot-password-wrapper">
<form>
  <h2>Reset the Password to your account</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>

  <br>
  <a href="#/" class="btn btn-primary" id="btn">Reset Password</a>
</form>
</div>

<!--
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices, tellus sed sodales elementum, dui eros scelerisque magna, at congue elit risus eget magna. Phasellus in diam a orci tempor viverra vel a tellus. Proin lectus arcu, suscipit nec blandit non, mollis non quam. Fusce viverra et enim vitae maximus.
</p>
-->

<!-- WORK ON SCIPTS HERE -->
<script>

  var myBtn = document.getElementById('loginButton');
  console.log(myBtn);
  myBtn.addEventListener('click', function(){
    window.alert('ERROR!');
  })

</script>
