<style>
	


h2{
	text-align: center;
	padding: 15px;
}
form{
  background-color: lightblue;
  padding: 15px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
}


</style>






<h2>Forgot your Password?</h2>
<form >
	E-Mail Address <input type="" name="" id = "emailAddress" >	
	<input type="submit" id="loginButton">
</form>







<script>
	var myBtn = document.getElementById('loginButton');
	var email; 
	myBtn.addEventListener('click', function(){
		email = document.getElementById('emailAddress').value;
		var inputValid = false;
		if(email.includes("@") && email.includes("."))
		{
			var popUpMessage = "A message has been sent to " + email + " with the necesary steps to regain access to your account."
    		window.alert(popUpMessage);
		}
		else
		{
			window.alert("Please enter a valid Email Address \n\"" + email + "\" is not valid");
		}	
 	})

</script>