<style>

.sell-wrapper{
  background: #eaeaea;
  border-radius: 6px;
  min-height: 400px;
  margin-bottom: 30px;
  padding: 10%;
}
.date{
  width: 80px;
  display: inline-block;
}
input{
  display: block;
}
</style>

<div class="sell-wrapper">
<form name="listBookForm" novalidate="">

  <h2>List a Book For Sale</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Textbook Title</label>
    <input type="text" class="form-control"  placeholder="Title" ng-model="book.title" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Author</label>
    <input type="text" class="form-control"  placeholder="Author" ng-model="book.author" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">ISBN-13</label>
    <input type="text" class="form-control"  placeholder="123-4564-1245" ng-model="book.isbn" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Language</label>
    <input type="text" class="form-control"  placeholder="Ex: English, Farsi, Russian" ng-model="book.language" required>
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Edition Number</label>
    <input type="text" class="form-control"  placeholder="Ex: 9" ng-model="book.edition" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Number of Pages</label>
    <input type="text" class="form-control"  placeholder="Number of Pages" ng-model="book.num_pages" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price </label>
    <input type="text" class="form-control"  placeholder="$" ng-model="book.price" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Book Condition</label>
    <select class="form-control" ng-model="book.condition" required>
      <option value="" disabled selected>Book Condition</option>
      <option>New</option>
      <option>Good</option>
      <option>Poor</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Type of Bookcover</label>
    <select class="form-control" ng-model="book.cover_type" required>
      <option value="" disabled selected>Type of Book Cover</option>
      <option>Hardcover</option>
      <option>Paperbound</option>
      <option>Loose-Leaf</option>
    </select>

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Genre</label>
    <input type="text" class="form-control"  placeholder="Ex: Science, Math, English" ng-model="book.genre" required>
  </div>

  <br>
    <button class="subscribe btn btn-success btn-lg btn-block" ng-disabled="listBookForm.$invalid" ng-click="listBook()">Sell Textbook</button>
</form>
</div>
