<style>

.sell-wrapper{
  background: #eaeaea;
  border-radius: 6px;
  min-height: 400px;
  margin-bottom: 30px;
  padding: 10%;
}
.date{
  width: 80px;
  display: inline-block;
}
input{
  display: block;
}
</style>

<div class="sell-wrapper">
<form>
  <h2>List a Book For Sale</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Textbook Title</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Author</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Author">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">ISBN</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="123-4564-1245">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Language</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ex: English, Farsi, Russian">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Edition Number</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ex: 9th Edition">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Number of Pages</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number of Pages">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price </label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="$">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Book Condition</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ex: New, Slightly Used, Used">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Type of Bookcover</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ex: Hardcover, Softcover">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Genre</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ex: Science, Math, English">
  </div>
  
  <br>
    <a class="subscribe btn btn-success btn-lg btn-block" href="#/">Sell Textbook</a>
</form>
</div>