<!-- WORK ON STYLES HERE -->
<style>

form{
  background-color: gray;
  padding: 15px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
}

</style>

<!-- WORK ON COMPONENTS HERE -->
<p>This is the login view.</p>
<form>
  Name <input type="text">
  Password <input type="password">
  <input type="submit" id="loginButton">
</form>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices, tellus sed sodales elementum, dui eros scelerisque magna, at congue elit risus eget magna. Phasellus in diam a orci tempor viverra vel a tellus. Proin lectus arcu, suscipit nec blandit non, mollis non quam. Fusce viverra et enim vitae maximus.
</p>

<!-- WORK ON SCIPTS HERE -->
<script>

  var myBtn = document.getElementById('loginButton');
  console.log(myBtn);
  myBtn.addEventListener('click', function(){
    window.alert('ERROR!');
  })

</script>
