<div class="jumbotron">
  <h1 ng-if="user.status">Welcome to texchange, {{user.first_name}}!</h1>
  <h1 ng-if="!user.status || user.status === undefined"">Welcome to texchange!</h1>
  <p class="lead">
    Find the best textbooks at the best prices
  </p>
  <a href="#/listbook" class="btn btn-primary btn-lg btn-block">Sell a Textbook</a>
</div>

<div class="row home-stage">
  <h3>Featured books</h3>
  <hr>
  <div class="home-stage-featured">
    <div class="row">
  <div class="col-sm-4" ng-repeat="book in books" ng-click="viewBookDetails(book._id)">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>{{book.title}}</h3>
          <h6>{{book.author}}</h6>
          <span class="book-price">${{book.price}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
