<div class="jumbotron">
  <h1>Welcome to texchange!</h1>
  <p class="lead">
    Find the best textbooks at the best prices
  </p>
</div>

<div class="row home-stage">
  <h3>Featured books</h3>
  <hr>
  <div class="home-stage-featured">
    <div class="row">
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
