<style>

.paid{
    padding: 20px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
</style>

<h1 style="text-align:center""text">Pay For Your Books</h1>
<hr>
<div class="panel panel-default credit-card-box">
                <div class="col-sm-12" ng-if="paid">
                  <p class="bg-success paid">Your payment has been sucessfully processed</p>
                </div>
                <div class="panel-body">
                    <form role="form" name="paymentForm" id="payment-form" method="POST" action="javascript:void(0);" novalidate="">
                    <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">Shipping Address</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="Shipping Address"
                                            ng-model="paymentInfo.shipping_address"
                                            autocomplete="cc-number"
                                            required autofocus
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">Billing Address</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="Billing Address"
                                            autocomplete="cc-number"
                                            ng-model="paymentInfo.billing_address"
                                            required autofocus
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardHolderName">Cardholder's Name</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="cardHolderName"
                                            placeholder="Cardholder's Name"
                                            autocomplete="cc-number"
                                            ng-model="paymentInfo.cardholder_name"
                                            required autofocus
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">Card Number</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="Valid Card Number (16 digits)"
                                            autocomplete="cc-number"
                                            ng-model="paymentInfo.card_number"
                                            required autofocus
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">Expiration Date</span></label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="cardExpiry"
                                        ng-model="paymentInfo.card_exp"
                                        placeholder="MM / YY"
                                        autocomplete="cc-exp"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVV">CVV Code</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="cardCVV"
                                        placeholder="CVV (3 digits)"
                                        ng-model="paymentInfo.card_cvv"
                                        autocomplete="cc-cvv"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button ng-click="continue()" class="btn btn-success btn-lg btn-block" id="btn" ng-if="paid">Continue Shopping</button>
                                <button ng-if="!paid" class="subscribe btn btn-success btn-lg btn-block" ng-click="pay()" type="button" ng-disabled="paymentForm.$invalid">Pay</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
