<style>

  .profile-wrapper{
    background: #eaeaea;
    border-radius: 6px;
    min-height: 400px;
    margin-bottom: 30px;
    padding: 10%;
  }
  .profile-header{
    text-align: center;
  }
  .date{
    width: 80px;
    display: inline-block;
  }
</style>

<h1 class="header">Profile Information</h1>
<hr>

<div class="profile-wrapper">

  <div class="row">
    <div class="col-sm-12 profile-header">
      <h2>{{user.first_name}} {{user.last_name}}</h2>
      <hr style="border-top: 1px solid #a0a0a0;">
    </div>
    <div class="col-sm-12">
      <div>
        <h4>Account Information</h4>
        <p>First Name: <b>{{user.first_name}}</b></p>
        <p>Last Name: <b>{{user.last_name}}</b></p>
        <p>Display Name: <b>@{{user.username}}</b></p>
        <p>Email: <b>{{user.email}}</b></p>
        <p>Date of Birth: <b>{{user.dob}}</b></p>
        <br>
      </div>
     
      </div>
    </div>
    
    <h3>Books Currently For Sale</h3>
      <div class="row">
        <div class="col-sm-6" ng-repeat="book in books" ng-click="viewBookDetails(book._id)">
          <div class="book-wrapper">
            <div class="book">
              <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
              <div class="book-content">
                <h3>{{book.title}}</h3>
                <h6>{{book.author}}</h6>
                <span class="book-price">${{book.price}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <hr>	

  </div>