<h1> Profile Information </h1>
<p> First Name: ABC
<p> Last Name: CHA
<p> Display Name: CHJSdnja
<p> Date of Birth: 949594
<p> Email: gchdhdh@gmail.com
<p> Password: ....
<p>
<input type="submit" id="editProfileButton" value="Edit">
  <script>

    var myBtn = document.getElementById('editProfileButton');
    console.log(myBtn);
    myBtn.addEventListener('click', function(){
      window.alert("Thank you. You can now edit your profile information.");

    })
    </script>

  <!-- what to do about the case where basically there needs to be an edit
  button which takes you to a form to update password-->

  <!-- has Verify Email and Invalid Information (related to adding password etc) -->
