<style>

  .profile-wrapper{
    background: #eaeaea;
    border-radius: 6px;
    min-height: 400px;
    margin-bottom: 30px;
    padding: 10%;
  }
  .profile-header{
    text-align: center;
  }
  .date{
    width: 80px;
    display: inline-block;
  }
</style>

<h1 class="header">Profile Information</h1>
<hr>

<div class="profile-wrapper">

  <div class="row">
    <div class="col-sm-12 profile-header">
      <h2>{{user.first_name}} {{user.last_name}}</h2>
      <hr style="border-top: 1px solid #a0a0a0;">
    </div>
    <div class="col-sm-12">
      <div ng-if="!editMode">
        <h4>Account Information</h4>
        <p>First Name: <b>{{user.first_name}}</b></p>
        <p>Last Name: <b>{{user.last_name}}</b></p>
        <p>Display Name: <b>@{{user.username}}</b></p>
        <p>Email: <b>{{user.email}}</b></p>
        <p>Date of Birth: <b>{{user.dob}}</b></p>
        <br>
      </div>
      <div ng-if="editMode">
        <h4>Account Information</h4>
        <p>First Name: <input type="text"  ng-model="user.first_name"></p>
        <p>Last Name: <input type="text" ng-model="user.last_name"></p>
        <p>Display Name: <input type="text" ng-model="user.username"></p>
        <p>Email: <input type="text" ng-model="user.email"></p>
        <p>Date of Birth:

            <select id="disabledSelect" class="date form-control" ng-model="birthday.month" required>
              <option value="" disabled selected>Month</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>

          <select id="disabledSelect" class="date form-control" ng-model="birthday.day" required>
            <option value="" disabled selected>Day</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
          </select>

          <select id="disabledSelect" class="date form-control" ng-model="birthday.year" required>
            <option value="" disabled selected>Year</option>
            <option>1980</option>
            <option>1981</option>
            <option>1982</option>
            <option>1983</option>
            <option>1984</option>
            <option>1985</option>
            <option>1986</option>
            <option>1987</option>
            <option>1988</option>
            <option>1989</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
            <option>1993</option>
            <option>1994</option>
            <option>1995</option>
            <option>1996</option>
            <option>1997</option>
            <option>1998</option>
            <option>1999</option>
            <option>2000</option>
          </select>
          <br>
      </div>

        <button type="submit" class="btn btn-primary" ng-hide="editMode" ng-click="editMode = true">Edit information</button>
        <button type="submit" class="btn btn-danger" ng-click="deactivateUser()">Deactivate</button>
        <button ng-if="editMode" class="btn btn-primary" ng-click="goToReset()">Reset Password</button>
        <br>
        <br>
        <div ng-if="editMode">
          <button class="btn btn-primary btn-lg btn-block" ng-click="saveUser()">Save</button>
        </div>
      </div>

<!--CHECK OUT FOR ADMIN RELATED CHANGES-->
    <div class="col-sm-12" ng-if="admin">
      <hr style="border-top: 1px solid #a0a0a0;">
      <h4> Banned Users </h4>
      <p ng-repeat="ban in banned"> {{ban.first_name ban.last_name}} </p> <a href=""> Unban </a> </p>
      <!--
      <p>  Jeff Patterson <a href=""> Unban </a> </p>
      <p>  Sam Smith <a href=""> Unban </a> </p>
      <p>  Lorem Ipsum <a href=""> Unban </a> </p>
    -->
  </div>
  </div>
      </div>
    </div>
  </div>
