<h1 class="header">Search Results</h1>
<p class="lead">Results for '<i>Biology</i>'</p>
<div class="row">
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="book-wrapper">
      <div class="book">
        <div class="book-image" style="background-image: url(images/books/book1.jpg)"></div>
        <div class="book-content">
          <h3>Title</h3>
          <h6>Author</h6>
          <span class="book-price">$20</span>
        </div>
      </div>
    </div>
  </div>
</div>
