<style>
.cart-wrapper{
  background: #eaeaea;
  border-radius: 6px;
  min-height: 400px;
  margin-bottom: 30px;
  padding: 10%;
}
.cart-img{
	width: 200px;
	float: left;
	margin-right: 60px;
}
.cart-list{
	list-style-type: none;
}
.cart-list li{
	font-size: 1.5em;
}
.cart-item{
	height: 300px;
}
hr{
	border-top: 1px solid black;
}
</style>

<h2>Shopping Cart</h2>
<div class="cart-wrapper">
	<div class="cart-item" ng-repeat="book in cart">
		<img id = "SETextbook" src="https://images-na.ssl-images-amazon.com/images/I/51jNe4y1%2B-L._SX362_BO1,204,203,200_.jpg"  alt="Object Oriented Software Engineering" class="cart-img">
		<ul class="cart-list">
			<li>{{book.title}}</li>
			<li>Author: <b>{{book.author}}</b>
			<li>Price: <b>${{book.price}}</b></li>
			<li>Condition: <b>{{book.condition}}</b></li>
			<br/>
			<button type="submit" class="btn btn-danger" ng-click="removeFromCart($index)">Remove From Cart</button>
		</ul>
	</div>
	
	<h3>Total: $195.36</h3>
	<a href="#/payment" class="btn btn-primary" id="btn">Checkout Items</a>
</div>
