<h1 class="">Transactions</h1>
<p class="lead">Keep up with your purchases and check up on your listings</p>
<hr>

<!-- PURCHASES -->
<div class="trans-wrapper">
  <h2>Purchases</h2>
  <div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>Textbook Title</h3>
            <p>Purchased From: <a href="">username</a></p>
            <p>Transaction Amount: $185.00</p>
            <a style="margin-right: 15px; border-bottom: 1px solid white;">Report</a>
            <a>Rate<a>
          </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>Textbook Title</h3>
            <p>Purchased From: <a href="">username</a></p>
            <p>Transaction Amount: $185.00</p>
            <a style="margin-right: 15px; border-bottom: 1px solid white;">Report</a>
            <a>Rate<a>
          </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>Textbook Title</h3>
            <p>Purchased From: <a href="">username</a></p>
            <p>Transaction Amount: $185.00</p>
            <a style="margin-right: 15px; border-bottom: 1px solid white;">Report</a>
            <a>Rate<a>
          </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>Textbook Title</h3>
            <p>Purchased From: <a href="">username</a></p>
            <p>Transaction Amount: $185.00</p>
            <a style="margin-right: 15px; border-bottom: 1px solid white;">Report</a>
            <a>Rate<a>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- SELLING -->
<div class="trans-wrapper">
  <h2>Selling</h2>
  <div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>Textbook Title</h3>
            <p>Status: <b>Not Sold</b></p>
            <p>Sale Price: <b>$185.00</b></p>
            <a href="">Cancel Textbook</a>
          </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>Textbook Title</h3>
            <p>Status: <b>Not Sold</b></p>
            <p>Sale Price: <b>$185.00</b></p>
            <a href="">Cancel Textbook</a>
          </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>Textbook Title</h3>
            <p>Status: <b>Not Sold</b></p>
            <p>Sale Price: <b>$185.00</b></p>
            <a href="">Cancel Textbook</a>
          </div>
        </div>
    </div>
  </div>
</div>
