<h1 class="">Transactions</h1>
<p class="lead">Keep up with your purchases and check up on your listings</p>
<hr>

<!-- SELLING -->
<div class="trans-wrapper">
  <h2>Selling</h2>
  <div class="row">
    <div class="col-sm-12 col-md-6" ng-repeat="book in sellingBooks" ng-click="viewBookDetails(book._id)">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>{{book.title}}</h3>
            <p>Status: <b>Not Sold</b></p>
            <p>Sale Price: <b>${{book.price}}</b></p>
            <button ng-click="cancelBookSale(book)" class="btn btn-danger btn-block">Cancel Sale</button>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- PURCHASES -->
<div class="trans-wrapper">
  <h2>Purchases</h2>
  <div class="row">
    <div class="col-sm-12 col-md-6" ng-repeat="book in purchasedBooks">
        <div class="trans-item">
          <div class="trans-image" style="background-image: url(images/books/book1.jpg)"></div>
          <div class="trans-content">
            <h3>{{book.title}}</h3>
            <p>Transaction Amount: ${{book.price}}</p>
            <br>
            <button ng-click="reportUser(book)" class="btn btn-danger btn-block">Report User</button>
          </div>
        </div>
    </div>
  </div>
</div>


